<div class="jumbotron">
    <h1>Identity Demo</h1>
    <p class="lead">Identity 2.0 demonstration with win8 client</p>
    <p><a href="http://www.asp.net/web-api/overview/security/individual-accounts-in-web-api" class="btn btn-primary btn-lg">Based on the article: "Individual Accounts in ASP.NET Web API" &raquo;</a></p>
    <p><a href="https://github.com/jhalbrecht/IdentityDemo" class="btn btn-primary btn-lg">The GitHub repo &raquo;</a></p>
</div>

<div class="row">
    <h2>Some <a href="http://slipsum.com/"> SAMUEL L. IPSUM</a> to round out our day </h2>
    <p>
        <!-- start slipsum code -->

        <h3>Is she dead, yes or no?</h3>
        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.

        <h3>No man, I don't eat pork</h3>
        The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.

        <!-- please do not remove this line -->

        <div style="display:none;">
            <a href="http://slipsum.com">lorem ipsum</a>
        </div>

        <!-- end slipsum code -->

    </p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
